@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Rubik&display=swap');

.page-body {
  /* font-family: 'Comfortaa', cursive; */
  font-family: 'Rubik', sans-serif;
  background-color: whitesmoke;
  height: 100vh;
  text-align: left;
  padding: 10px 0 0 20px;
  /* margin: 100px; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.navbar-brand {
  font-family: 'Comfortaa', cursive;
  padding-left: 20px;
}

.navbar-text {
  font-family: 'Comfortaa', cursive;
  margin: auto 15px;
}

.nav-link {
  font-family: 'Comfortaa', cursive;
}

.nav-link:hover {
  background-color: black;
}

#skill-ul{
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.job-form-input {
  margin: 10px 0;
  display: grid;
  /* justify-content: center;
  align-items: baseline; */
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}

.job-form-label {
  margin-right: 5px;
}

.job-form-field {
  justify-self: start;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
