@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Rubik&display=swap');

#root {
  background-color: wheat;
  font-family: 'Rubik', sans-serif;

}

.page-body {
  /* font-family: 'Comfortaa', sans-serif; */
  background-color: wheat;
  height: 100%;
  min-height: 80vh;
  text-align: left;
  padding: 10px 20px;
  /* margin: 100px; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}



.navbar-brand {
  font-family: 'Comfortaa', sans-serif;
  padding-left: 20px;
}

.navbar-text {
  font-family: 'Comfortaa', sans-serif;
  margin: auto 15px;
}

#navbar {
  background-color: #034D77;
}

.nav-link {
  font-family: 'Comfortaa', sans-serif;
}

.nav-link:hover {
  background-color: #046CA7;
}

#skill-ul{
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

#job-form {
  margin-bottom: 15px
}

.job-form-input {
  margin: 5px 0;
}

.job-form-label {
  min-width: 135px;
  vertical-align: top;
}

.job-form-field {
  width: 80%;
  max-width: 300px;
  text-align: left
}

@media only screen and (max-width: 600px) {
  .job-form-field {
    display: block
  }
  #applied {
    display: inline;
    width: auto;
  }
  #applied-label {
    min-width: 0;
    width: auto;
    padding-right: 5px;
  }
}

#applied {
  width: auto;
}

.job-cards {
  display: flex;
  gap: 20px 30px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.job-card-container {
  border: black 1px solid;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  filter: drop-shadow(8px 8px 0 black);
  background: wheat;
}

#footer {
  background: #034D77;
  color: white;
  margin: 10px 0 0 0;
  padding: 30px;
}

textarea {
  width: 95%
}

.task-notes {
  white-space: pre-line;
}

.task-card {
  margin-bottom: 10px;
}

#task-name-select {
  margin-left: 5px;
  height: 25px;
  width: 200px;
}

#deadline {
  height: 25px;
  width: 200px;
  display: block;
  margin-left: 5px;
}

.task-form-label {
  display: block;
  padding-bottom: 5px;
  margin-left: 5px;
}

#task-submit {
  margin-left: 5px;
}

.job-description {
  white-space: pre-line;
}

.task-input {
  margin: 5px 0;
}

#deadline {
  margin-left: 5px;
}

#logo {
  margin-right: 10px;
}

.brand-button {
  background: #034D77;
  color: white;
  font-family: 'Comfortaa', sans-serif;
  border: none;
  border-radius: 3px;
  filter: drop-shadow(0 0 0 black);
  font-size: .9em;
  margin: 5px 3px 3px 0;
  
}

.brand-button:hover {
  filter: drop-shadow(2px 2px 0 black);
}

/* #brand-button {
  background: #034D77;
  color: white;
  font-family: 'Comfortaa', sans-serif;
  border: none;
  border-radius: 3px;
  filter: drop-shadow(0 0 0 black);
  font-size: .9em; */
/* } */

#signup-button, #signout-button, #cancel-button, #changepassword-button, #signin-button {
  background: #034D77;
  color: white;
  font-family: 'Comfortaa', sans-serif;
  border: none;
  border-radius: 3px;
  filter: drop-shadow(0 0 0 black);
  font-size: .9em;
  margin: 5px 3px 3px 0;
}

#signup-button:hover, #signout-button:hover, #cancel-button:hover, #changepassword-button:hover, #signin-button:hover {
  filter: drop-shadow(2px 2px 0 black);

}

#hero-welcome {
  margin: 125px 0 0 20px;
}

#hero-text-min {
  font-size: 4vw;
  font-family: 'Comfortaa', sans-serif;

}

#hero-text-max {
  font-size: 7vw;
  font-family: 'Comfortaa', sans-serif;

}

#hero-text-p {
  font-size: 3vw;
  font-family: 'Comfortaa', sans-serif;
}